/* LoginPage.css */
body {
    background: linear-gradient(to right, #063164, #e88c44);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #063164;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    outline: none;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;

  }
  
  .button-group {
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #063164;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e88c44;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #063164;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  